/* Form style */
input, textarea, select { font-size: 14px; font-family:Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; color:#555; border:0; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; float:none; display:block; margin:0px; -webkit-appearance: none; background:none }
textarea { resize: none; }
#message { margin: 0; padding: 0px; z-index:200; height:auto; text-align:left !important }
.error_message, #success_page { display: block; height:auto; color:#d31800; font-style:italic; font-size: 12px; padding: 10px 0px 0px 0px; line-height:1.5; margin-bottom:-10px; position:relative; }
#success_page { color:#2b2b2b !important; }
.loader { display:none; }
/* Form Element Styling */

.form-part { padding: 0; margin-top:29px; }
.form-part > textarea, .form-part > select, .form-part > input {
 padding: 12px 15px 14px; margin-bottom: 10px; border:1px solid #d8d8d8; text-align: left; font-style: normal; font-size: 14px; border-radius:3px; line-height: 20px; display:block; width:300px;
}
.form-part > textarea { height: 200px; resize: none; width:100%; }
.form-part > input:focus, .form-part > textarea:focus { background:#f5f5f5; }
.form-part > .input-wrapper { position: relative;  }
.form-part .send-btn {  border-radius:30px; background:rgba(0,0,0,0.05); padding:10px 25px 14px; line-height:1; font-size:14px; display:inline-block; color:#555; margin-top:20px; }
.form-part .send-btn:hover { background:rgba(0,0,0,0.1); color:#2b2b2b}

.form-part.newsletter { border:0 !important; margin-top:25px; }
.form-part.newsletter input { border:1px solid rgba(255,255,255,0.3) !important; color:#fff; border-radius:3px; padding:12px 15px 14px !important; font-size:15px; width:100% !important; margin-bottom:0 !important }
.form-part > input:focus { background:#fff; color:#555; }
.form-part.newsletter .send-btn { background: url(../img/icons/bg-mail-white@2x.png) no-repeat scroll top right transparent; background-size:36px 36px; color:rgba(255,255,255,0.7); border:0 !important; padding: 2px 45px 0px 4px !important; font-size:13px; width:auto !important; font-style:italic; line-height:36px; margin-right:30px; float:right; }
.form-part.newsletter .send-btn:hover { color:rgba(255,255,255,1) }